<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<% unless user_signed_in?%>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
<% end %>
<h2>User Transactions:</h2>
<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Transaction type</th>
  </thead>
</tr>

  <tbody>
    <% @user_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account.id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.currency %></td>
        <td><%= transaction.transaction_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), :class => "button1" %> 
<%= link_to 'Back', users_path , :class => "button1" %>
