<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Account:</strong>
  <%= @transaction.account.id %>
</p>

<p>
  <p>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @transaction.currency %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction), :class => "button1" %>
<%= link_to 'Back', transactions_path,:class => "button1" %>
