<!DOCTYPE html>
<html>
  <head>
    <title>Bankonrails</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert%>
      <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% elsif notice%>
    <div id="notice_wrapper" style="background: #36d136;">
      <p class="notice"><%= notice %></p>
    </div>
    <% end %>


    <%= link_to("Sign out", destroy_user_session_path, method: :delete, :class => "button") if user_signed_in? %>
    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        setTimeout(function() {
          $('#notice_wrapper').fadeOut("slow",function() {
            $this.remove();
          });
        }, 3000 );
      });
    </script>
  </body>
</html>
